<template>
  <div class="home">
    <div class="top_list">
      <div class="share_list share_list1">
        <p>应用名</p>
        <p>
          <img src="@/assets/images/block1_icon.png"> <span class="appName">dongjing</span>
        </p>
      </div>

      <div class="share_list share_list2">
        <p>渠道名称</p>
        <p>aaaa</p>
      </div>

      <div class="share_list share_list3">
        <div class="childLinkShow">
          <p>渠道二维码/链接</p>
          <div class="qrChildLink">
            <a :href="urlStr">{{urlStr}}</a> 
            <span class="copyChildLink">复制</span>
          </div>
          <div class="qr_ct">
            <qrcode-vue :value="urlStr" size="120"></qrcode-vue>
          </div>
        </div>
      </div>

    </div>

    <div class="data-detail">
      <div class="top">
        <div class="left">
            <div class="reflash"></div>
            <!-- <el-icon><Refresh /></el-icon> -->
            <span>概要统计</span>
            <ul class="data_profile">
              <li class="all" data-name="platform" :class="{active: typeSelect == 1}" @click="() => typeSelect = 1">All</li>
              <li class="android" data-name="platform" :class="{active: typeSelect == 2}" @click="() => typeSelect = 2">Android</li>
              <li class="iOS" data-name="platform" :class="{active: typeSelect == 3}" @click="() => typeSelect = 3">iOS</li>
            </ul>
        </div>

        <div class="right">
          <div class="overlay-btn" :class="{active: queryData.noRepeat}" @click="() => queryData.noRepeat = !queryData.noRepeat">排除重复安装</div>
          <div class="panel-ct" >
            <div class="count_calendar_right date-container" @click="() => showPanel = true">
              <el-icon><Calendar /></el-icon>
              <span class="content">{{selectValue}}</span>
              <el-icon><ArrowDownBold /></el-icon>
            </div>
            <div class="panel" v-show="showPanel">
              <div class="angle"></div>
              <div class="item" v-for="(item, i) in listSelect" :key="i" @click="selectDateDuring(item)">
                {{item.name}}
              </div>
              <div class="item2">
                <!-- <input type="text" class="startDate"><input type="text" class="endDate"> -->
                <el-date-picker
                  v-model="dataValue"
                  type="daterange"
                  unlink-panels
                  range-separator="To"
                  start-placeholder="Start date"
                  end-placeholder="End date"
                  size="default"
                />
              </div>
              <div class="btn-ct">
                <el-button type="primary" @click="sureDateSelect">确定</el-button>
                <el-button plain @click="() => showPanel = false">取消</el-button>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="details-ct">
        <div class="details">
          <div class="item" v-for="(item, i) in detailList" :key="i">
            <div class="icon-ct">
              <img class="icon" :src="require('@/assets/images/'+ item.icon+ '.png')">
              <span>{{item.name}}</span>
            </div>
            <div class="icon-value">{{item.value}}</div>
          </div>
        </div>
      </div>
    </div>


  </div>
</template>

<script>
import { reactive, toRefs } from 'vue-demi'
// @ is an alias to /src
import QrcodeVue from 'qrcode.vue'
import store from '@/store'

export default {
  name: 'HomeView',
  components: {
    QrcodeVue
  },
  setup() {
    const state = reactive({
      selectValue: '所有时间',
      typeSelect: 1,
      listSelect: [
        {name: '所有时间', type: 1},
        {name: '今天', type: 2},
        {name: '昨天', type: 3},
        {name: '最近7天', type: 4},
        {name: '最近30天', type: 5},
        {name: '自由选择', type: 6},
      ],
      queryData: {
        noRepeat: true,
      },
      showPanel:false,
      dataValue: '',

      detailList: [
        {name: '访问量', icon: 'report1', value: 0, type: 'agent_welcome'},
        {name: '点击量', icon: 'report2', value: 0, type: 'agent_click'},
        {name: '安装量', icon: 'report3', value: 0, type: 'agent_register'},
        {name: '注册量', icon: 'report4', value: 0, type: 'agent_register'},
        {name: '充值金额', icon: 'report5',value: 0, type: 'agent_money'},
        {name: '充值笔数', icon: 'report6', value: 0, type: 'agent_money_cuont'},
        {name: '平均在线时长', icon: 'report8', value: 0},
        {name: '平均1日后留存数', icon: 'report8', value: 0},
        {name: '平均7日后留存数', icon: 'report8', value: 0},
        {name: '平均30日后留存数', icon: 'report8', value: 0},
        {name: '累计效果值', icon: 'report9', value: 0},
        {name: '独立设备数', icon: 'report10', value: 0},
      ],
      urlStr: 'www.baidu.com'
    })


    const selectDateDuring = () => {
      state.showPanel = false
    }

    const sureDateSelect = () => {
      
    }

    const getData = () => {
      store.dispatch('getAgentInfo', {
        key:'SGblARvzUHzBCXbk',
        password:'e10adc3949ba59abbe56e057f20f883e'
      }).then(res => {
        // res = {
        //     "agent_money_cuont": 1,
        //     "agent_money": 2,
        //     "agent_welcome": 3,
        //     "agent_click": 4,
        //     "agent_register": 5
        // }
        const obj = typeof res == 'string'?JSON.parse(res) : res
        for(let key in obj) {
          state.detailList.forEach(item => {
            if(item.type == key ) {
              item.value = obj[key]
            }
          })
        }
      })
    }
    getData()

    return {
      ...toRefs(state),

      selectDateDuring,
      sureDateSelect,
    }
  }
}
</script>

<style scoped lang="less">
.home{
  padding: 20px 0;
  .top_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 22.5px;
    margin-bottom: 18px;
    .share_list{
      width: calc(33% - 15px);
      height: 280px;
      padding: 0 20px;
      border-radius: 5px;
      text-align: left;
      color: #fff;

      .appName{font-size:20px;color:#fff;margin-left:20px}

      p:first-child {
          font-size: 18px;
          margin: 40px 0 20px 0;
          color: #fff;
      }
      p:nth-child(2) {
          font-size: 20px;
          color: #fff;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 300px;
          display: inline-block;
          vertical-align: middle;
          display: flex;
          align-items: center;
      }
    }
    .share_list1{
      background: url(@/assets/images/channel1.png) no-repeat 100% 100%,linear-gradient(135deg,#82c6fe 0,#5e9cff 100%);
    }
    .share_list2 {
      background: url(@/assets/images/channel2.png) no-repeat 100% 100%,linear-gradient(135deg,#82c6fe 0,#5e9cff 100%);
    }
    .share_list3{
      background: url(@/assets/images/channel3.png) no-repeat 100% 100%,linear-gradient(135deg,#82c6fe 0,#5e9cff 100%);
    }
    .qrChildLink{
      margin: 10px 0;
    }
    .copyChildLink {
        color: #fff;
        border: 1px solid #fff;
        font-size: 12px;
        border-radius: 10px;
        padding: 3px 15px;
        margin-left: 10px;
    }
    .qr_ct{
      display: inline-block;
      background-color: #fff;
      padding: 4px;
      border-radius: 4px;
    }
  }
  .data-detail{
    .top{
      padding: 12px 28px;
      position: relative;
      font-size: 16px;
      background: #f7f8fa;
      color: #474c5b;
      display: flex;
      justify-content: space-between;
      .left{
        display: flex;
        align-items: center;
        .reflash{
          width: 18px;
          height: 18px;
          cursor: pointer;
          margin-right: 8px;
          background: url(@/assets/images/refresh.png);
          background-size: 100% 100%;
          &:hover {
            background: url(@/assets/images/refresh1.png);
            background-size: 100% 100%;
          }
        }
      }
      .right{
        display: flex;
        align-items: center;
      }

      .data_profile{
        display: flex;
        margin-left: 6px;
        li {
          margin-left: 10px;
          cursor: pointer;
          background-repeat: no-repeat;
          padding: 0 10px 0 32px;
          font-size: 12px;
          width: 90px;
          height: 32px;
          border-radius: 5px;
          border: 1px solid #E8E8E8;
          background-color: #fff;
          color: #657280;
          line-height: 32px;
          text-align: center;
          background-position: 10px 6px;
          background-size: 12px 12px;
        }
        li.active {
            color: #fff;
            background-color: #5992F9;
        }
        .all {
            background-image: url(@/assets/images/all2.png);
            background-position: 35% 50%;
        }
        .android {
            background-image: url(@/assets/images/android2.png);
            background-position: 22% 50%;
        }
        .iOS {
            background-image: url(@/assets/images/iOS2.png);
            background-position: 35% 50%;
        }

        .all.active {
            background-image: url(@/assets/images/all1.png);
            background-position: 35% 50%;
        }
        .android.active {
            background-image: url(@/assets/images/android1.png);
            background-position: 22% 50%;
        }
        .iOS.active {
            background-image: url(@/assets/images/iOS1.png);
            background-position: 35% 50%;
        }
      }

      .right{
        .overlay-btn {
            cursor: pointer;
            display: inline-block;
            padding: 5px 15px;
            color: #989898;
            margin-right: 10px;
            background-color: #fff;
            border: 1px solid #989898;
            border-radius: 3px;
        }
        .overlay-btn.active {
            color: #5992f9;
            border: 1px solid #5992f9;
            background-image: url(@/assets/images/repeatSelect.png);
            background-position: bottom right;
            background-repeat: no-repeat;
            background-size: 16px;
        }
        .count_calendar_right{
          height: 32px;
          padding: 0 12px;
          background: #5992F9;
          color: #fff;
          cursor: pointer;
          border: 1px solid #f0f0f0;
          border-radius: 4px;
          display: flex;
          align-items: center;
          .content{
            margin: 0 6px;
          }
        }

        .panel-ct{
          position: relative;
          .panel{
            position: absolute;
            top: 36px;
            left: -45px;
            min-width: 180px;
            background: #fff;
            box-shadow: 0 2px 15px rgb(0 0 0 / 30%);
            -ms-flex-pack: start;
            justify-content: flex-start;
            border-radius: 4px;
            padding: 4px;
            font-size: 13px;
            font-family: sans-serif;
            line-height: 1.5em;

            .item{
              padding: 4px 9px;
              margin: 0;
              background: #f5f5f5;
              color: #5992F9;
              cursor: pointer;
              border-radius: 4px;
              margin-bottom: 8px;
              text-align: left;
              &:hover, &.active{
                background: #5992F9;
                color: #fff;
              }
            }
            .item2{
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom: 8px;
              input{
                min-width: 50px;
                width: 50px;
                -ms-flex: 1;
                flex: 1;
                margin: 3px;
                border-radius: 4px;
                border: 1px solid #ccc;
                height: auto;
                padding: 0.5em;
                font-size: 13px;
                color: #333;
              }
            }

            .angle{
              position: absolute;
              top: -7px;
              right: 9px;
              display: inline-block;
              border-right: 7px solid transparent;
              border-bottom: 7px solid rgba(255,255,255,.8);
              border-left: 7px solid transparent;
            }
          }
        }

      }


    }
    .details-ct{
      background: #fff;
      padding: 10px;
    }
    .details{
      background: #f7f8fa;
      overflow: hidden;
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .item{
        box-sizing: border-box;
        padding: 28px 10px;
        align-self: center;
        width: 16.26%;
        background: #fff;
        margin: 5px .2%;
        height: 170px;
        text-align: left;
        .icon{
          width: 18px;
          height: 18px;
          margin-right: 6px;
        }
        .icon-ct{
          display: flex;align-items: center;
        }
        .icon-value{
          font-size: 22px;
          color: #474c5b;
          margin: 20px 0 0 20px;
        }
      }
    }
  }
}
::v-deep{
  .el-date-editor{
    max-width: 320px;
  }
}
</style>

