*{margin:0;padding: 0;box-sizing: border-box;}
html, body {
    // height: 100%;
    // overflow-x: hidden;
    // overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
    max-width: 1200px;
    margin: auto;
    background: #edeff4;
  }
  
img{max-width: 100%;font-size: 12px;}
.title{font-size: 14px;}
// .html, body{background-color: #0F0E0F;}
ul, li{
  list-style: none;
}
